# TimeXtender Date Dimension Fields

In [ ]:
--GisterenIndicator
SELECT
CASE WHEN CAST(DATEADD(dd, -1, GETDATE()) AS DATE) = [Datum] THEN 1 ELSE 0 END
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date

In [ ]:
--
SELECT
1
FROM dsa.Date